body {
  margin: 0;
}

.navbar {
  width:100%;
  height: 78px;
  position: fixed;
  top: 0px;
  background-color: rgba(0,0,0,0);
  z-index: 2;
}

/*.navbarscroll {
  background-color: rgba(255,255,255,1);
}*/

.menu {
  background-image:url(img/menu.png);
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100px;
}

.home {
  background-image:url(img/home.png);
  position: absolute;
  top: 0;
  left: 100px;
  height:100%;
  width: 100px;
  
}

.selection {
  display: none;
  position:fixed;
  top: 78px;
  width: 100px;
  /*height: 100px;*/
  background-color: white;
}

.selectionopen {
  animation-name: openselection;
  animation-duration: 1s;
}

.selectionclose {
  animation-name: closeselection;
  animation-duration: 1s;
}

@keyframes openselection {
  from {height: 0px;}
  to {height: 100px;}
}

@keyframes closeselection {
  from {height: 100px;}
  to {height: 0px;}
}

.titban {
  z-index:0;
}
  
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.title {
  background-color: rgba(0,0,0,0);
  z-index: 1;
  color: black; 
  position: absolute;
  top: 50%;
  left: 47%;
  font-size: 40pt;
}

.subtit {
  background-color: rgba(0,0,0,0);
  z-index: 1;
  color: black; 
  position: absolute;
  top: 54%;
  left: 47%;
}
