body {
  margin: 0;
  background-color: #dff9fb;
}

.navbar {
  width:100%;
  height: 78px;
  position: fixed;
  top: 0px;
  background-color: rgba(0,0,0,0);
  z-index: 2;
}

.navbarscroll {
  opacity: 1;
    background-color: white;
    box-shadow: 5px 4px 7px #f5a9af;
}
  
.menuicon {
    background-image:url(img/menu.png);
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100px;
    list-style-type: none;
}

.menuicon:hover {
	background-color: #F2F1EF;
}
.menu {
  float: left;
}

.menu ul{
    position: absolute;
    left: 0;
    top: 78px;
    margin-top: 0;
    padding-left: 0;
    list-style-type: none;
    box-shadow: 3px 3px 4px #3b3b3f;
    width: 15%;
	  height: auto;	
}

.menu ul li{
    padding: 10px 5px;
    background: white;
    display: none;
}

.menu:hover li{
    display: block;
    animation-name: openmenu;
    animation-duration: 5s;
}

.menu ul li a{
	text-decoration: none;
	color: black;
	font-size: 12pt;
}

.menu ul li:hover {
	background-color: #e4e4e4;
}	

@keyframes openmenu {
  from {height: 0%;}
  to {height: 100%;}
}

@keyframes closemenu {
  from {height: 100%;}
  to {height: 0%;}
}

.home {
  background-image:url(img/home.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 100px;
  height:100%;
  width: 100px;
}

.home:hover {
	background-color: #F2F1EF;
}

.selection {
  display: none;
  position:fixed;
  top: 78px;
  width: 100px;
  /*height: 100px;*/
  background-color: white;
}

.selectionopen {
  animation-name: openselection;
  animation-duration: 1s;
}

.selectionclose {
  animation-name: closeselection;
  animation-duration: 1s;
}

.titban {
  z-index:0;
}
  
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.titcont {
  background-color: rgba(0,0,0,0);
  z-index: 1;
  color: black; 
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 25pt;
}

h2.subtit {
  background-color: rgba(0,0,0,0);
  z-index: 1;
  position: absolute;
  color: black; 
  width: 100%;
top: 48%;
font-size: 27pt;
  text-align: center;
}

.anthnavcont {
   display: table;
}

.anthnav {
   margin-left: 4%
   margin-right: 4%;
}

.anthnavcont ul li{
   display: inline;
   border: 2px solid black;
	border-radius: 4%;
}
   

.heading {
	font-family: 'Lato', sans-serif;
	margin-left: 10%;
	margin-right: 10%;
	text-align:center;
}


.bodytext {
  font-family: 'Karla', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  padding: 3px;
  font-size: 13pt;
  text-indent: 20px;
}

p.cite {
  padding-left: 25px;
  text-indent: -25px;
}

#poetbook {
	border: 2px solid black;
	border-radius: 10%;
	margin-left: 40%;
	margin-right: 40%;
}

#poetbook:hover {
	background-color: #a0d2ff;
}

#bottom {
  background-color: #ecf0f1;
  height: 75px;
  width: 100%;
}
