body {
  margin: 0;
}

.navbar {
  width:100%;
  height:20px;
  position: fixed;
  top: 0px;
  background-color: red;
 
}



.menu:hover #selection {
  display:block;
}

.selection {
  
}

.menu {
  background-image:(url=img/menu.png);
}
.home {
  background-image:(url=img/home.png);
}

  
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.title {
  background-color: rgba(0,0,0,0);
  z-index: 1;
  color: black; 
}


Attachments area
